.container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;

    app-notes-container {
        margin: 0 8px;
        &:first-child {
            margin-left: 0;
        }
    }

    max-height: 100%;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        display: none;
    }
    &::-webkit-scrollbar-corner {
        display: none;
    }
}

.cdk-drop-list {
    height: inherit;
    padding: 50px 5% 20px 5%;
}
