* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$width: 90%;

div {
    padding: 10px 0px;
    background-color: #262626;
    width: 380px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.title-container {
    width: $width;
    margin: auto;
    background-color: #181818;
    border-radius: 8px;
}

.cdk-drag-placeholder {
    opacity: 0.5;
}
