$width: 90%;

@mixin commonDiv() {
    padding: 10px 0px;
    background-color: #262626;
    width: 290px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.container{
    @include commonDiv();
    max-height: 100%;
}

.title-container {
    width: $width;
    margin: auto;
    background-color: #181818;
    border-radius: 8px;
}

.cdk-drag-placeholder {
    opacity: 0.8;
    &>*{
        opacity: 0;
    }
}

.cdk-drop-list {
    overflow: auto;
    min-height: 50px;
    max-height: 100%;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        display: none;
    }
    &::-webkit-scrollbar-corner {
        display: none;
    }
}
