$width: 90%;

div {
    background-color: #313131;
    width: $width;
    margin: 10px auto;
    border-radius: 5px;
    &:hover {
        background-color: #494949;
    }
}

.cdk-drag-preview {
    background-color: #5e565a;
}

.cdk-drag-placeholder {
    opacity: 0.8;
}
