div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    margin: 20px;
    padding: 4px;
    width: 340px;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
}

img {
    width: 50px;
    height: auto;
    size: contain;
}

h3{
    color: white;
    margin-left: 10px;
}